<!-- Start footer area -->
<footer id="footer" class="footer-area bg-2 bg-opacity-black-90">
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="copyright text-center">
                        <p>Not Copyright &copy; 2021 <a href="#"><b>Rubicamp</b></a>. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
</html>