<%- include('../partials/header') %>
<style>
    /*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
    #upload {
        opacity: 0;
    }

    #upload-label {
        position: relative;
        top: 64%;
        margin-bottom: 30px;
        /* left: 1rem; */
        /* transform: translateY(-50%); */
    }

    .image-area {
        border: 2px dashed rgba(255, 255, 255, 0.7);
        padding: 1rem;
        position: relative;
    }

    .image-area::before {
        content: 'Uploaded image result';
        color: #fff;
        font-weight: bold;
        text-transform: uppercase;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 0.8rem;
        z-index: 1;
    }

    .image-area img {
        z-index: 2;
        position: relative;
    }

    #imageResult {
        height: 100px;
    }

    .box-upload {
        box-sizing: border-box;
        box-shadow: rgba(49, 53, 59, 0.12) 0px 1px 6px;
        border-radius: 8px;
        margin-right: 12px;
        background: rgb(255, 255, 255);
        border: 1px dashed rgb(203, 208, 203);
        width: 98%;
        height: 150px;
        padding: 10px;
        display: flex;
    }

    .content-upload {
        display: flex;
        flex-direction: column;
        -webkit-box-pack: center;
        place-content: center;
        width: inherit;
        height: inherit;
        -webkit-box-align: center;
        align-items: center;
        width: 130px;
        height: 130px;
        border: 1px solid rgb(79, 209, 90);
        border-radius: 8px;
        margin-right: 10px;
    }

    .css-1rd7url {
        background-image: url(https://assets.tokopedia.net/assets-tokopedia-lite/v2/icarus/kratos/ec5ed6c9.svg);
        width: 100%;
        height: 130px;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
    }

    .css-17t9ldh {
        padding-top: 12px;
        font-family: "Open Sans";
        font-style: normal;
        font-weight: normal;
        font-size: 1rem;
        line-height: 20px;
        color: rgba(49, 53, 59, 0.32);
    }

    .content-upload img {
        height: 120px;
    }

    /*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/
</style>

<body>
    <div class="wrapper">
        <!-- Start page content -->
        <section id="page-content" class="page-wrapper">

            <!-- LOGIN SECTION START -->
            <div class="login-section pt-50 pb-70" id="app" data-id="<%= user.id %>">
                <div class="container">
                    <form @submit.prevent="saveData" enctype="multipart/form-data">
                        <h2 class="mb-50">Tambah Iklan Rumah</h2>
                        <input id="upload" type="file" ref="myFiles" name="file" @change="readURL()"
                            class="form-control border-0" style="display: none" multiple />

                        <label for="upload">
                            <div class="box-upload" id="upload-label">
                                <div class="content-upload">
                                    <img id="imageResult1"
                                        src="https://assets.tokopedia.net/assets-tokopedia-lite/v2/icarus/kratos/ec5ed6c9.svg"
                                        alt="" class="img-fluid rounded mx-auto d-block">
                                </div>
                                <div class="content-upload">
                                    <img id="imageResult2"
                                        src="https://assets.tokopedia.net/assets-tokopedia-lite/v2/icarus/kratos/ec5ed6c9.svg"
                                        alt="" class="img-fluid rounded mx-auto d-block">
                                </div>
                                <div class="content-upload">
                                    <img id="imageResult3"
                                        src="https://assets.tokopedia.net/assets-tokopedia-lite/v2/icarus/kratos/ec5ed6c9.svg"
                                        alt="" class="img-fluid rounded mx-auto d-block">
                                </div>
                                <div class="content-upload">
                                    <img id="imageResult4"
                                        src="https://assets.tokopedia.net/assets-tokopedia-lite/v2/icarus/kratos/ec5ed6c9.svg"
                                        alt="" class="img-fluid rounded mx-auto d-block">
                                </div>
                            </div>
                        </label>
                        <div class="row">
                            <div class="col-md-6 col-xs-12">
                                <div class="registered-customers mb-50">
                                    <div class="login-account p-30 box-shadow">
                                        <!-- <p>If you have an account with us, Please log in.</p> -->
                                        <input type="text" name='alamat_lengkap' id='alamat_lengkap' v-model="alamat"
                                            placeholder="Alamat Lengkap">
                                        <input type="text" name='harga' id='harga' placeholder="Harga" v-model="harga">
                                        <input type="text" name='ukuran' id='ukuran' placeholder="Ukuran"
                                            v-model="ukuran">
                                        <input type="text" name='koordinat' id='koordinat' v-model="coordinate"
                                            placeholder="-6.919311934788379, 107.6842462581884">
                                        <!-- <div class="row">
                                            <div class="col-sm-6">
                                                <input type="text" name='lattitude' id='lattitude'
                                                    placeholder="Lattitude">
                                            </div>
                                            <div class="col-sm-6">
                                                <input type="text" name='longitude' id='longitude'
                                                    placeholder="Longitude">
                                            </div>
                                        </div> -->
                                        <input type="radio" id="sewa" value='0' v-model="kategori">
                                        <label for="sewa" style="margin-right: 20px;">Sewa</label>
                                        <input type="radio" id="jual" value='1' v-model="kategori">
                                        <label for="jual">Jual</label>
                                        <input type="text" name='deskripsi' id='deskripsi' v-model="deskripsi"
                                            placeholder="Deskripsi">
                                    </div>
                                </div>
                            </div>
                            <!-- new-customers -->
                            <div class="col-md-6 col-xs-12">
                                <div class="new-customers mb-50">
                                    <div class="login-account p-30 box-shadow">
                                        <input type="text" name='kamar_tidur' id='kamar_tidur' v-model="kamar_tidur" placeholder="Jumlah Kamar Tidur">
                                        <input type="text" name='kamar_mandi' id='kamar_mandi' v-model="kamar_mandi" placeholder="Jumlah Kamar Mandi">
                                        <input type="text" name='lantai' id='lantai' v-model="lantai" placeholder="Lantai">
                                        <!-- <label for="sertifikat">Pilih Akte:</label> -->
                                        <!-- <select name="sertifikat" id="sertifikat" v-model="sertifikat" style="width: 100%">
                                            <option value="Akta Jual Beli (AJB)">Akta Jual Beli (AJB)</option>
                                            <option value="Sertifikat Hak Guna Bangunan (SHGB)">Sertifikat Hak Guna Bangunan (SHGB)</option>
                                            <option value="Sertifikat Hak Milik (SHM)">Sertifikat Hak Milik (SHM)</option>
                                            <option value="Giri atau Petok">Giri atau Petok</option>
                                            <option value="Sertifikat Hak Satuan Rumah Susun (SHSRS)">Sertifikat Hak Satuan Rumah Susun (SHSRS)</option>
                                        </select> -->
                                        <input type="text" name='sertifikat' id='sertifikat' v-model="sertifikat" placeholder="Sertifikat">
                                        <div class="row">
                                            <div class="col-sm-6 col-xs-12">
                                                <button class="submit-btn-1 mt-20" type="submit">Simpan</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="preview-images"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                message: 'Hello Vue!',
                id: null,
                alamat: null,
                harga: null,
                ukuran: null,
                coordinate: null,
                kategori: null,
                deskripsi: null,
                kamar_mandi: null,
                kamar_tidur: null,
                lantai: null,
                sertifikat: null,
                files: ""
            },
            methods: {
                readURL() {
                    const file = this.$refs.myFiles.files;
                    this.files = file;
                },
                async saveData() {
                    this.id = this.$el.getAttribute('data-id');
                    var formData = new FormData();
                    for (let i = 0; i < this.files.length; i++) {
                        formData.append(`file`, this.files[i]);
                    }
                    formData.append('alamat', this.alamat);
                    formData.append('harga', this.harga);
                    formData.append('ukuran', this.ukuran);
                    formData.append('coordinate', this.coordinate);
                    formData.append('deskripsi', this.deskripsi);
                    formData.append('kategori', this.kategori);
                    formData.append('kamar_mandi', this.kamar_mandi);
                    formData.append('kamar_tidur', this.kamar_tidur);
                    formData.append('lantai', this.lantai);
                    formData.append('sertifikat', this.sertifikat);
                    formData.append('id_member', this.id);

                    try {
                        await axios.post(`http://localhost:3000/api/index/iklan`, formData, {
                            headerheaders: {
                                'Content-Type': 'multipart/form-data'
                            }
                        }).then(response => {
                            Swal.fire({
                                icon: 'success',
                                title: 'Berhasil Menambahkan Iklan.',
                                showCloseButton: true
                            }).then(function (result) {
                                if (result.value) {
                                    window.location = "/"
                                }
                            })
                        }).catch(error => {
                            console.log(response.error)
                        })
                    } catch (error) {
                        console.log(error)
                    }
                }
            }
        })
        $(document).ready(function () {
            let readURL = function (input) {
                if (input.files) {
                    let filesAmount = input.files.length;
                    for (let i = 0; i < filesAmount; i++) {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            // $($.parseHTML("<img style='width: 100px'>"))
                            //     .attr("src", e.target.result)
                            //     .appendTo(placeToInsertImagePreview)
                            $(`#imageResult${i + 1}`).attr('src', e.target.result);
                        };
                        reader.readAsDataURL(input.files[i]);
                    }
                }
            };
            $(function () {
                $('#upload').on('change', function () {
                    readURL(this)
                });
            });
        })


        var input = document.getElementById('upload');
        var infoArea = document.getElementById('upload-label');
    </script>

</body>
<%- include('../partials/footer') %>