<%- include('../partials/header') %>

<body>
    <div class="wrapper">
        <!-- Start page content -->
        <section id="page-content" class="page-wrapper">
            <!-- FEATURED FLAT AREA START -->
            <div class="featured-flat-area pt-30 pb-80" id="app">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="section-title-2" style="margin: 0px">
                                <h2>Hasil Perbandingan</h2>
                            </div>
                        </div>
                    </div>
                    <div class="featured-flat">
                        <div class="row">

                            <!-- flat-item -->
                            <div class="col-md-4 col-sm-6 col-xs-12" v-for="res in displayedPosts">
                                <div class="flat-item">
                                    <div class="flat-item-image">
                                        <span class="for-sale" v-if="res.kategori == 1">Dijual</span>
                                        <span class="for-sale rent" v-if="res.kategori == 0">Disewakan</span>
                                        <a href="properties-details.html">
                                            <img v-bind:src="'/images/uploads/' + res.gambar.split(',')[0]" alt="">
                                        </a>
                                        <div class="flat-link">
                                            <a :href="'/properties-details/' + res.id_iklan">More Details</a>
                                        </div>
                                        <ul class="flat-desc">
                                            <li>
                                                <img src="images/icons/4.png" alt="">
                                                <span>{{ res.ukuran }} m<sup>2</sup></span>
                                            </li>
                                            <li>
                                                <img src="images/icons/5.png" alt="">
                                                <span>{{ res.kamar_tidur ? res.kamar_tidur : '0' }}</span>
                                            </li>
                                            <li>
                                                <img src="images/icons/6.png" alt="">
                                                <span>{{ res.kamar_mandi ? res.kamar_mandi : '0' }}</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="flat-item-info">
                                        <div class="flat-title-price">
                                            <h5><a href="properties-details.html">{{ res.alamat }}</a></h5>
                                            <span class="price">Rp.
                                                {{ res.harga.toString().replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.") }}</span>
                                        </div>
                                        <p><img src="images/icons/location.png" alt="">{{ res.sertifikat }}</p>
                                        <p>{{ res.deskripsi !== 'null' ? res.deskripsi : 'Tidak ada Keterangan' }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- FEATURED FLAT AREA END -->
        </section>
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                resData: [],
                desire: location.search.slice(1).split("&")[0].split("=")[1]
            },
            mounted: function () {
                axios
                    .get(`http://localhost:3000/api/index/compare/${this.desire}`)
                    .then(response => {
                        this.resData = response.data
                    })
                    .catch(error => {
                        console.log(response.error)
                    })
            },
            computed: {
                displayedPosts() {
                    return this.resData
                }
            }
        })
    </script>
</body>
<%- include('../partials/footer') %>