<%- include('../partials/header') %>

<body>
    <div class="wrapper">
        <!-- Start page content -->
        <section id="page-content" class="page-wrapper">

            <!-- LOGIN SECTION START -->
            <div class="login-section pt-50 pb-70" id="app" data-id="<%= user.id %>">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-xs-12">
                            <div class="registered-customers mb-50">
                                <h5 class="mb-50" v-for="p in posts">EDIT PROFIL</h5>
                                <form @submit.prevent="submit">
                                    <div class="login-account p-30 box-shadow">
                                        <p>Masukkan data sebenar-benarnya.</p>
                                        <input type="text" name='nama_lengkap' id='nama_lengkap'
                                            placeholder="Nama Lengkap" v-for="p in posts" v-model="p.nama_lengkap">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <select class="custom-select-2" name='jenis_kelamin' id='jenis_kelamin'>
                                                    <option value="defalt">Jenis Kelamin</option>
                                                    <option value="l" v-for="p in posts"
                                                        :selected="p.jenis_kelamin == 'l' ? true:false">Laki-laki
                                                    </option>
                                                    <option value="p" v-for="p in posts"
                                                        :selected="p.jenis_kelamin == 'p' ? true:false">Perempuan
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="col-sm-6">
                                                <input type="text" name='no_telp' id='no_telp' placeholder="No telp."
                                                    v-for="p in posts" v-model="p.no_telp">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <span v-for="d in posts">Tanggal Lahir</span>
                                                <input type="date" name="tgl_lahir" id='tgl_lahir'
                                                    placeholder="Tanggal Lahir" v-model="date">
                                            </div>
                                        </div>
                                        <input type="text" name='alamat' id='alamat' placeholder="Alamat"
                                            v-for="p in posts" v-model="p.alamat">
                                        <input type="text" name='email' id='email' placeholder="Email"
                                            v-for="p in posts" v-model="p.email">
                                        <div class="row">
                                            <div class="col-sm-6 col-xs-12">
                                                <button class="submit-btn-1 mt-20" type="submit">Simpan</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- new-customers -->
                        <div class="col-md-6 col-xs-12">
                            <div class="new-customers mb-50">
                                <h5 class="mb-50">UBAH PASSWORD</h5>
                                <form @submit.prevent="submitPassword">
                                    <div class="login-account p-30 box-shadow">
                                        <input type="password" placeholder="Password Lama" v-model="old_password">

                                        <input type="password" placeholder="Password Baru" v-model="new_password">

                                        <input type="password" placeholder="Konfirmasi Password Baru"
                                            v-model="re_password">

                                        <div class="row">
                                            <div class="col-sm-6 col-xs-12">
                                                <button class="submit-btn-1 mt-20" type="submit">Confirm</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- LOGIN SECTION END -->

        </section>
        <!-- End page content -->
    </div>



    <script>
        var app = new Vue({
            el: '#app',
            data: {
                message: 'Hello Vue!',
                posts: [],
                id: null,
                date: null,
                old_password: null,
                new_password: null,
                re_password: null
            },
            methods: {
                submit() {
                    this.id = this.$el.getAttribute('data-id');
                    axios
                        .put(`http://localhost:3000/api/index/profil/${this.id}`, {
                            nama_lengkap: this.posts[0].nama_lengkap,
                            jenis_kelamin: this.posts[0].jenis_kelamin,
                            no_telp: this.posts[0].no_telp,
                            tgl_lahir: this.date,
                            alamat: this.posts[0].alamat,
                            email: this.posts[0].email,
                        })
                        .then(response => {
                            Swal.fire({
                                icon: 'success',
                                title: 'Berhasil perbaharui data.',
                                showCloseButton: true
                            }).then(function (result) {
                                if (result.value) {
                                    window.location = "/profil"
                                }
                            })
                        })
                },
                submitPassword() {
                    this.id = this.$el.getAttribute('data-id');

                    if (this.new_password !== this.re_password) {
                        alert('Password not match')
                    }
                    axios
                        .put(`http://localhost:3000/api/index/changepassword/${this.id}`, {
                            password: this.old_password
                        }).then(response => {
                            alert(response.data.msg)
                        })

                }
            },
            mounted: function () {
                this.id = this.$el.getAttribute('data-id');
                axios
                    .get(`http://localhost:3000/api/index/profil/${this.id}`)
                    .then(response => (
                        this.posts = response.data,
                        this.date = moment(response.data[0].tgl_lahir).format('YYYY-MM-DD')
                    ))
                    .catch(e => { this.errors.push(e) })
            },
            computed: {
                isMatch: function () {
                    if (this.new_password !== this.re_password) {
                        return 'Password must match!'
                    }
                }
            }
        })
    </script>
</body>
<%- include('../partials/footer') %>